<h1>Travel Journal</h1>
<h3>Here's a list of all your trips:</h3>
<% @trips.each do |trip| %>
  <p> <a href="/trips/<%= trip.id %>"><%= trip.name %></a> </p>
<% end %>

<br><br>
<a href="/trips/new" class="btn btn-primary">New Trip</a>
<a href="/logout" class="btn btn-default">Log Out</a>