<h1>Travel Journal</h1>
<hr/>
<h4>Here's a list of all your trips:</h4>
<% @trips.each do |trip| %>
  <ul>
    <li><h4><a href="/trips/<%= trip.id %>"><%= trip.name %></a></h4></li>
  </ul>
<% end %>

<br>
<a href="/trips/new" class="btn btn-primary">New Trip</a>
<a href="/logout" class="btn btn-default">Log Out</a>