<h1>Trips</h1>

<% @trips.each do |trip| %>
  <p> <a href="/trips/<%= trip.id %>"><%= trip.name %></a> </p>
<% end %>

<p><a href="/trips/new">New Trip</a></p>

<br><br><br>
<a href="/logout" class="btn btn-default">Log Out</a>