<h1>Travel Journal</h1>
<hr>

<p>Welcome to your Travel Journal! Log in your travels and cherish the memories!</p>

<div id="home-images" class="center">
  <img src="IMG_2668-edit.jpg" alt="indonesia-temple" class="img-thumbnail">
</div>
<br>
<a href="/signup" class="btn btn-primary">Sign Up</a>
<a href="/login" class="btn btn-primary">Log In</a>