<h1>Travel Journal</h1>

<p>Welcome to your Travel Journal! Log in your travels and cherish the memories!</p>

<a href="/signup" class="btn btn-default">Sign Up</a>
<a href="/login" class="btn btn-default">Log In</a>